.container {
    width: 80%;
    margin: 0 auto;
  }

  .title {
    font-weight: bold;
  }

  .icons
  {
    font-size: 25px;
    cursor: pointer;
  }

  .icons > div:nth-child(1){
    padding-right: 15px;
  }